<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title} ?: 'Application Tracker'">Application Tracker</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/navbar :: navbar"></div>

<main class="container dashboard">
    <!-- This is where page-specific content will be inserted -->
    <div th:replace="dashboard :: dashboardContent"></div>
</main>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>

