<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Documents</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/navbar :: navbar"></div>

<main class="container user">

    <div class="card">
        <h1>Documents</h1>
        <a th:href="@{/documents/new}" class="button">Upload Document</a>
    </div>

    <div class="card" th:each="doc : ${documents}">
        <h3 th:text="${doc.fileName}"></h3>
        <p>Status: <span th:text="${doc.status}"></span></p>

        <div class="card-buttons">
            <a th:href="@{/documents/{id}/download(id=${doc.id})}" class="button">Download</a>

            <form th:action="@{/documents/{id}/delete(id=${doc.id})}" method="post" style="display:inline">
                <button class="button danger">Delete</button>
            </form>

            <a th:href="@{/documents/{id}/edit(id=${doc.id})}" class="button">Edit</a>
        </div>
    </div>


</main>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
