<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title} ?: 'Application Details'">Application Details</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="bg-image bg-body">

<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/navbar :: navbar"></div>

<main class="container my-5 wid">
    <div class="card shadow-orange p-3">
        <h1>Hello, Anna</h1>
    </div>
</main>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
