<footer th:fragment="footer" class="app-footer">

    <style>
        /* =========================
           FOOTER STYLE
           ========================= */
        .app-footer {
            margin-top: auto; /* push footer to bottom */
            background-color: #f4efda;
            border-top: 1px solid #ddd;
            padding: 8px 16px;
            font-weight: 600;
            color: rgb(93, 3, 149);
            box-sizing: border-box;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>

    <p style="margin:0;">© 2025 EduJob Application Tracker</p>
</footer>
