/* Responsive table styles */
.table-responsive .table {
    table-layout: fixed;
    width: 100%;
}

.table-responsive .table td,
.table-responsive .table th { /* Apply word-wrap to both td and th */
    white-space: normal;
    word-wrap: break-word;
    font-size: clamp(0.75rem, 1.2vw, 1rem);
}

.table-responsive .btn.btn-sm {
    width: 100%; /* Increased width for better usability when stacked */
    margin: auto;
    display: block; /* Make them block to stack */
    padding: clamp(0.2rem, 0.5vw, 0.35rem) 0;
    font-size: clamp(0.7rem, 1vw, 0.9rem);
}

.table-responsive .btn.btn-sm .btn-icon {
    font-size: clamp(0.8rem, 1.2vw, 1rem);
}

.table-responsive .d-flex.gap-2 {
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center buttons horizontally */
    gap: 0.2rem !important; /* Adjust gap between stacked buttons */
}

.table-responsive .d-flex.gap-2 form {
    width: 100%;
    margin: 0;
}

.table-responsive .d-flex.gap-2 form button {
    width: 100%;
}

.action-buttons-no-stretch .btn.btn-sm {
    width: auto; /* Allow buttons to shrink to fit content */
    display: inline-block; /* Revert to inline-block for side-by-side on larger screens */
}
.action-buttons-no-stretch {
    flex-direction: row; /* For larger screens, display side-by-side */
}

.btn-icon {
    display: none;
}

@media (max-width: 992px) {
    .hide-on-medium {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .btn-text {
        display: none;
    }
    .btn-icon {
        display: inline;
    }

    .hide-on-small {
        display: none !important;
    }

    .action-buttons-no-stretch {
        flex-direction: column; /* Stack buttons vertically on small screens */
    }
    .action-buttons-no-stretch .btn.btn-sm {
        width: 100%; /* Make buttons full width when stacked */
    }
}
