body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* full viewport height */
    margin: 0;
}

main {
    flex: 1; /* takes remaining space */
    padding-top: 100px; /* Padding to account for fixed header */
}