body, html{
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* full viewport height */
    margin: 0;
}

main {
    flex: 1; /* takes remaining space */
}

.bg-image.bg-body {
    background: url("/images/form-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}

h2 {
    color: rgb(93, 3, 149);
}

.shadow-orange {
    box-shadow: 0 0 2rem rgb(138, 237, 212)
}
.submit-button {
    background-color : rgb(93, 3, 149);
    color: #ffffff;  
    font-weight: 800;
}
.submit-button:hover {
    background-color: rgb(43, 0, 67);
    color: #ffffff;
}

/* ===== Outer form container color ===== */
.card.form-shell {
    background-color: #efedf9 !important; /* sky-blue */
    border: none;
}
.form-section {
    background-color: #ffffff !important;
}
.btn.additional {
    background-color: #ae81b5; /* dust-rose */
    color: white;
    font-weight: bold;
}
.btn.additional :hover {
        background-color: #7c5b81;
        color: white;
}